
services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_container
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: reportes_db
    ports:
      - "5433:5432"  # Puerto local accesible
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db:/scripts:ro  # Carpeta db con scripts SQL
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d reportes_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_container
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.example
    depends_on:
      - postgres

volumes:
  postgres_data:
